body{
        color:#fff;
        font-family:helvetica,sans-serif;
       }
       a{
        color:#fff;
        text-decoration:none;
       }
       ul, li{
            margin:0;
           padding;0;
           list-style-type:none;
       }
       #interface{
        height:100%;
        width:100%;
        position:fixed;
       }
       #header{
        height:40px;
        width:100%;
        position:absolute;
        background:#000;
        text-align:center;
        text-transform:uppercase;
       }
       #header h1{
        height:40px;
        line-height:40px;
        float:left;
        font-weight:bold;
        margin:0 0 0 10px;
        z-index: 1;
        position: relative;
       }
       .overlay{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        bottom:0;
        right:0;
        background:rgba(25, 25, 25, 0.9);
        text-align:center;
       }
       .message{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 8em;
        width: 20em;
        margin: -6em 0 0 -11em;
        background: #000;
        padding: 3em 1em;
       }
        .message.loading .login, .message .status{
            display:none;
            visibility:hidden;
        }
        .message.loading .status{
            display:block;
            visibility:visible;
        }
       .message a{
        text-decoration:underline;
       }
       .message sub{
        margin:3em 0;
        display:block;
        font-size:0.65em;
       }
       .message .status{
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        height: 1em;
        margin: -0.7em 0 0 0;
        padding: 0;
        top: 50%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
       }
       .message .button{
        color: #000;
        background: #fff;
        padding: 0.5em 1em;
        font-size: 1.5em;
        margin: 0 0 1em 0;
        display: inline-block;
        border-radius: 4px;
        text-decoration:none;
       }
       #cost{
        width:100px;
        position:absolute;
        top:40px;
        bottom:0px;
        left:0px;
        background:#000;
       }
        #cost ul{
            display:block;
            width:100%;
            position:absolute;
            top:20px;
            left:0px;
            bottom:30px;
            right:0px;
        }
        #cost .label{
            display:block;
            position:absolute;
            text-align:right;
            left:0;
            padding:0 10px;
            width:80px;
            height:20px;
            line-height:15px;
            font-size:0.8em;
        }
        #cost .label.max{
            bottom:0px;
        }
        #cost .label.min{
            top:0px;
        }
       #location{
        width:150px;
        position:absolute;
        right:0px;
        top:40px;
        bottom:0px;
        background:#000;
       }
       #cost li{
        text-indent:-9999;
        display:block;
        height:3px;
        width:90px;
        background:#fff;
        margin:1px 0;
        opacity:0.1;
        position:absolute;
        left:0;
       }
       #cost li.active{
        background:red;
       }
       #cost li.selected{
        width:100px;
       }
       #location li{
        margin:0 0 2px 10px;
        font-size:12px;
        background:#fff;
        opacity:0.5;
        text-align:left;
        padding:0px 4px 0px 10px;
        height:20px;
        line-height:20px;
        display:block;
        width;190px;
       }
       #location li a{
        color:#000;
       }
       #content{
        height:100%;
        width:100%;
        position:absolute;
        bottom:0;
        right:0;
        left:0;
        top:0;
       }
       #content li{
        display:block;
        width:100%;
        height:100%;
        overflow:hidden;
        position:relative;
       }
       #content img, #content canvas{
        position:absolute;
        top:0;
        filter: saturate(30%) contrast(85%);
        -webkit-filter: saturate(30%) contrast(85%);
        -moz-filter: saturate(30%) contrast(85%);
        -o-filter: saturate(30%) contrast(85%);
        -ms-filter: saturate(30%) contrast(85%);
        min-height:100%;
        height:auto;
        width:60%;
       }
       #content img{
        left:0;
       }
       #content canvas{
        right:0;
       }
       #content .info{
        display:block;
        position:absolute;
        bottom:40px;
        left:0;
        text-align:center;
        width:100%;
       }
       #content h2, #content h3{
        background:#000;
        padding:5px 10px;
        margin:0 0 15px 0;
        display:inline-block;
        font-weight:bold;
        max-width:80%;
        }
        #content h2{
            font-size:3em;
        }
        #content h3{
            font-size:1.5em;
        }
